parameters:
    scopeClass: Teknoo\States\PHPStan\Analyser\Scope
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Method [a-zA-Z0-9\\_]+::registerMiddleware\(\) should return [a-zA-Z0-9\\_]+ but returns [a-zA-Z0-9\\_]+.#'
            path: src/Recipe/Recipe.php
        -
            message: '#Parameter \#1 \$[a-zA-Z]+ of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given\.#'
            path: infrastructures/symfony/Router/Router.php
        -
            message: '#Method [a-zA-Z0-9\\_]+::matchRequest\(\) should return \(callable\(\): mixed\)\|null but returns string\.#'
            path: infrastructures/symfony/Router/Router.php
services:
	-
		class: Teknoo\States\PHPStan\MethodsClassExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension